<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <div class="header">
          <div class="title">Login</div>
        </div>
        <div class="body">
          <form
            action="/login"
            method="POST"
            class="login-form"
            onsubmit="return ValidateForm()"
          >
            <div class="input">
              <label>
                <input type="text" id="email" name="email" required />
                <span class="placeholder">Email</span>
              </label>
            </div>
            <div class="input">
              <label>
                <input type="password" id="password" name="password" required />
                <span class="placeholder">Password</span>
              </label>
            </div>
            <% if(messages.error) { %>
            <div class="error-message"><%= messages.error %></div>
            <% } %>
            <div class="submit">
              <button type="submit">Login</button>
            </div>
          </form>
          <div class="register">
            <a href="/register">Register</a>
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
