* {
  font-family: "Montserrat";
}
body {
  background: rgb(234, 249, 255);
}
.login-container {
  display: grid;
  place-items: center;
}
.login-card {
  background: white;
  min-width: 400px;
  margin: 1rem;
}
.login-card .header {
  padding: 0.5rem;
  background: rgb(99, 145, 243);
  color: white;
  font-size: 35px;
}
.login-card .body {
  padding: 0.5rem;
}
.login-form .input{
    margin-bottom:5px;
}
.login-form .input label {
  position: relative;
  display: block;
  width: 100%;
  min-height: 45px;
}
.login-form .input .placeholder{
    position: absolute;
    display:block;
    top:23px;
    z-index: 2;
    font-size:16px;
    transition: all 200ms ease-in-out;
    width:100%;
    cursor: text;
}
.login-form .input input{
    position:absolute;
    top:15px;
    z-index: 1;
    width:100%;
    font-size:16px;
    border:0;
    border-bottom: 1px solid grey;
    transition: border-color 200ms ease-in-out;
    outline: none;
    padding:0;
    margin:0;
    height:30px;
}
.login-form .input input:focus,.login-form .input input:valid{
    border-bottom:2px solid rgb(99, 145, 243);
}
.login-form .input input:focus + .placeholder, .login-form .input input:valid + .placeholder{
    top: 0;
    cursor: inherit;
    font-size: 14px;
    color:rgb(99, 145, 243);
}
.register{
    margin-top:5px;
    text-align: center;
}
.register a{
    text-decoration: none;
    color:rgb(44, 40, 40);
}
.register a:hover{
    color:rgb(22, 64, 155);
}
.login-form .submit button{
    background: transparent;
    height: 35px;
    width: 100%;
    color:rgb(99, 145, 243);
    font-weight: 600;
    font-size:20px;
    margin-top: 10px;
    border: 2px solid rgb(99, 145, 243);
    transition: background 400ms ease-in-out, color 400ms ease-in-out;
}
.login-form .submit button:focus, .login-form .submit button:hover{
    outline: none;
    box-shadow: none;
    background:rgb(99, 145, 243);
    color:white;
}
